<h1>Editing status</h1>

<% form_for(@status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :favourited %><br />
    <%= f.check_box :favourited %>
  </p>
  <p>
    <%= f.label :in_reply_to_status_id %><br />
    <%= f.text_field :in_reply_to_status_id %>
  </p>
  <p>
    <%= f.label :in_reply_to_user_id %><br />
    <%= f.text_field :in_reply_to_user_id %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :source_url %><br />
    <%= f.text_field :source_url %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :truncated %><br />
    <%= f.check_box :truncated %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @status %> |
<%= link_to 'Back', statuses_path %>
