<p>
  <b>Favourited:</b>
  <%=h @status.favourited %>
</p>

<p>
  <b>In reply to status:</b>
  <%=h @status.in_reply_to_status_id %>
</p>

<p>
  <b>In reply to user:</b>
  <%=h @status.in_reply_to_user_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @status.source %>
</p>

<p>
  <b>Source url:</b>
  <%=h @status.source_url %>
</p>

<p>
  <b>Text:</b>
  <%=h @status.text %>
</p>

<p>
  <b>Truncated:</b>
  <%=h @status.truncated %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
