<div class="timeline-item" >
    <a class="profile-link" href="<%="/users/show/#{status.user.login}" %>" ><img src="http://static.twitter.com/images/default_profile_normal.png" alt="profile image" /></a>
    <p>
        <a href="<%= "/users/show/#{status.user.login}" %>"><%= status.user.login %></a>
        <%= status.text %><br />
        <%= status.created_at %> from <a href="<%= status.source_url %>"><%= status.source %></a>
    </p>
</div>