<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :favourites_count %><br />
    <%= f.text_field :favourites_count %>
  </p>
  <p>
    <%= f.label :followers_count %><br />
    <%= f.text_field :followers_count %>
  </p>
  <p>
    <%= f.label :following %><br />
    <%= f.check_box :following %>
  </p>
  <p>
    <%= f.label :friends_count %><br />
    <%= f.text_field :friends_count %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :profile_image_url %><br />
    <%= f.text_field :profile_image_url %>
  </p>
  <p>
    <%= f.label :protected %><br />
    <%= f.check_box :protected %>
  </p>
  <p>
    <%= f.label :statuses_count %><br />
    <%= f.text_field :statuses_count %>
  </p>
  <p>
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= f.text_field :time_zone %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :utc_offset %><br />
    <%= f.text_field :utc_offset %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
