<div class="post">
  <div class="title">
    <h2>>Change Password</h2>
  </div>
  <div class="entry">
    <p>
      Use the form below to change your password.
    </p>

    <p>
      New passwords are required to be a minimum of <%= Html.Encode(ViewData["PasswordLength"]) %> characters in length.
    </p>
    <%= html.ValidationSummary("Password change was unsuccessful. Please correct the errors and try again.") %>

    <% html.begin_form %>
    <div>
      <fieldset>
        <legend>Account Information</legend>
        <p>
          <label for="currentPassword">Current password:</label>
          <%= html.password("currentPassword") %>
          <%= html.validation_message("currentPassword") %>
        </p>

        <p>
          <label for="newPassword">New password:</label>
          <%= html.password("newPassword") %>
          <%= html.validation_message("newPassword") %>
        </p>

        <p>
          <label for="confirmPassword">Confirm new password:</label>
          <%= html.password("confirmPassword") %>
          <%= html.validation_message("confirmPassword") %>
        </p>

        <p>
          <input type="submit" value="Change Password"/>
        </p>
      </fieldset>
    </div>
    <% html.end_form %>
  </div>
  <p class="links">&nbsp; </p>
</div>
