<div class="post">
  <div class="title">
    <h2>Log On</h2>
  </div>
  <div class="entry">
    <p>
      Please enter your username and password. <%= html.action_link("Register", "register") %> if you don't have an
      account.
    </p>
    <%= html.validation_summary("Login was unsuccessful. Please correct the errors and try again.") %>

    <% html.begin_form("sign_on", "account", :return_url => view_data.return_url) %>
    <div>
      <fieldset>
        <legend>Account Information</legend>
        <p>
          <label for="username">Username:</label>
          <%= html.text_box("username") %>
          <%= html.validation_message("username") %>
        </p>

        <p>
          <label for="password">Password:</label>
          <%= html.password("password") %>
          <%= html.validation_message("password") %>
        </p>

        <p>
          <%= html.check_box("remember_me") %> <label class="inline" for="remember_me">Remember me?</label>
        </p>

        <p>
          <input type="submit" value="Log On"/>
        </p>
      </fieldset>
    </div>
    <% html.end_form %>
  </div>
  <p class="links">&nbsp; </p>
</div>
